<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.buapit.app">

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:name=".App.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".SplashScreen">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".MainActivity" />

    <service android:name=".Firebase.Notification.FirebaseMessagingService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
    <service android:name=".Firebase.Notification.FirebaseInstanceIDService">
        <intent-filter>
            <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
        </intent-filter>
    </service>
    <activity
        android:label="@string/title_activity_1"
        android:name=".MainActivity1"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name=".MainActivity2"
        android:label="@string/title_activity_2"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name="th.ac.buapit.app.MainActivity3"
        android:label="@string/title_activity_3"
        android:theme="@style/AppTheme"
        android:parentActivityName="th.ac.buapit.app.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name="th.ac.buapit.app.MainActivity4"
        android:label="@string/title_activity_4"
        android:theme="@style/AppTheme"
        android:parentActivityName="th.ac.buapit.app.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name="th.ac.buapit.app.MainActivity5"
        android:label="@string/title_activity_5"
        android:theme="@style/AppTheme"
        android:parentActivityName="th.ac.buapit.app.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name="th.ac.buapit.app.MainActivity6"
        android:label="@string/title_activity_6"
        android:theme="@style/AppTheme"
        android:parentActivityName="th.ac.buapit.app.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
    <activity
        android:name="th.ac.buapit.app.MainActivity7"
        android:label="@string/title_activity_7"
        android:theme="@style/AppTheme"
        android:parentActivityName="th.ac.buapit.app.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="th.ac.buapit.app.MainActivity" />
    </activity>
</application>

</manifest>